.App {
  text-align: center;
}

.container {
  width: 210px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display {
  display: block;
  color: grey;
  width: 210px;
  height: 70px;
  align-items: center;
  text-align: center;
  vertical-align: center;
  font-size: 30px;
}

.numbers, .operations {
  display: inline-block;
  border: none;
  height: 70px;
  width: 70px;
  font-size: 15px;
  color: white;
}

.numbers:hover {
  background-color: orange;
}

.operations:hover {
  background-color: mediumseagreen;
}

.operations {
  background-color: darkseagreen;
}

.numbers {
  background-color: darksalmon;
}
